@import url(http://fonts.googleapis.com/css?family=Lato:300,400);
@import url(http://fonts.googleapis.com/css?family=Bitter:400);

html,body {
    height:100%;
    /*background-image: url("background.jpg");*/
    background-color: #742928;
    background-size: cover;
    color:#444;
    font-family: 'Lato', sans-serif;
}

.student-name{
  color:#FFF !important;
}

@media (min-width:768px) {
    h1 {
        font-size:68px;
    }
}

a {
    color:#999;
}

a:hover {
    color:#111;
}

.btn,.well,.panel {
    border-radius:0;
}

.btn-danger {
    background-color:#742928;
}

.btn-danger:hover {
    background-color:#812E2C !important;
}

.text-danger, a.text-danger {
    color:#812E2C;
}

.btn-huge {
    padding:17px 22px;
    font-size:22px;
}

.lato {
    font-family: 'Lato', sans-serif;
}

.bitter {
    font-family: 'Bitter', serif;
}

.icon-bar {
    background-color:#fff;
}

.navbar-trans {
    background-color:#FFF;
    color:#000;
    border-width:0;
}

.navbar-trans .navbar-brand, .navbar-trans >.container-fluid .navbar-brand {
    padding: 14px;
    color:#000;
}

.navbar-trans li>a:focus{
    background-color:#742928;
    color:#FFF;
}

.navbar-trans li:active {
    background-color:#742928;
    color:#FFF;
}

.navbar-trans li.active {
    background-color:#742928;
    color:#FFF;
}


.navbar-trans li>a:hover {
    background-color:#742928;
    color:#FFF;
    opacity:0.5;
}


.navbar-trans a{
    color:#000;
    letter-spacing:1px;
}


.navbar-trans .form-control:focus {
    border-color: #eee;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(100,100,100,0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(100,100,100,0.6);
}

.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 40px;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-left: -15px;
  display: block;
  padding: 7px;
  text-align: center;
  z-index:-1
}

.down-btn{
    margin-top: 3px;
    height: 30px;
    width: 30px;
}
.scroll-up {
  position: fixed;
  display: none;
  z-index: 999;
  bottom: 2em;
  right: 2em;
}

.scroll-up a {
  background-color: rgba(135, 135, 135, 0.5);
  display: block;
  width: 35px;
  height: 35px;
  text-align: center;
  color: #fff;
  font-size: 15px;
  line-height: 30px;
}

section {
    padding-top:70px;  
    padding-bottom:50px;
    min-height:100%;
    min-height:calc(100% - 0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

@media (min-width:768px) {
    .v-center {
        height: 50%;
        overflow: visible;
        margin: auto;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
    }
}
  
#section1, #section3 {
    background-color: rgba(0,0,0,0.7);
    color:#fff;
    font-family: 'Bitter', serif;
}
  
#section4 {
    background-color: #f6f6f6;
    color:#444;
}
  
#section2 {
    background-color: #fff;
}

#section3 {
    background-color: rgba(0,0,0,0.9);
}

#section5 {
    background-color: #fff;
}

#section6 {
    background-color: #eee;
    min-height:130px;
    padding-top:40px;
    padding-bottom:40px;
}

#section7 {
    background-color: #f44d3c;
    color: #f6f6f6;
    min-height:130px;
    padding-top:40px;
    padding-bottom:40px;
}

footer {
    background-color:#2b2b2b;
    color:#ddd;
    min-height:100px;
    padding-top:20px;
    padding-bottom:40px;
}

footer .nav>li>a {
    padding: 3px;
    color: #727374;
}

footer .nav>li>a:hover {
    background-color:transparent;
    color:#fff;
}

.img-circle{
    height:150px;
    width: 150px;
}

.up-btn{
    height:30px;
    width: 30px;
}

.dropdown-menu>li>a {
    display: block;
    padding: 15px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.dropdown-menu>li>a:hover {
    background-color: #742928 !important

}

.navbar-nav > li > .dropdown-menu {
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}


p, span, a, ul, li, button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

strong {
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5em;
  font-weight: 300;
}

strong {
  font-weight: 400;
}

.tile {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 20px;
  margin-bottom: 30px;
}
.tile .title {
  margin-top: 0px;
}
.tile.purple, .tile.blue, .tile.red, .tile.orange, .tile.green {
  color: #742928;
}
.tile.red {
  background: #FFF;
}
.tile.red:hover {
  background: #C0392B;
  color:#FFF;
}
.table{
  background-color: #FFF !important;
}

.button.primary {
    background: #742928;
    color: #ffffff;
    border-color: #742928;
}
.button {
    padding: 0 1rem;
    height: 3.125rem;
    width: 5.125rem;
    text-align: center;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px #d9d9d9 solid;
    color: #262626;
    cursor: pointer;
    display: inline-block;
    outline: none;
    font-size: 1.4rem;
    line-height: 1;
    margin: .15625rem 0;
    position: relative;
}

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #742928;
    text-decoration: none;
    background-color: #FFF;
    border: 1px solid #ddd;
}
.panel-info > .panel-heading {
    color: #FFF !important;
    background-color: #C0392B !important;
    border-color: #C0392B !important;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.current, .liabilities {
  margin-bottom: 2px;
  padding: 5px;
  color:#FFF;
  background-color:  #C0392B;
}

.panel-footer .btn-danger{
  background-color:  #C0392B !important;
}