{% extends 'accounts/base.html' %}

{% load staticfiles %}

{% block css %}
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <script src="{% static 'js/modernizr.js' %}"></script> <!-- Modernizr -->
{% endblock css %}

    {% block title %}<title>View Fund</title>{%endblock title %}

{% block body %}
    <div class="row">
    <h2 class="student-name text-center">VIEW FUND</h2>
  </div>
    <main class="cd-main-content">
    </main> <!-- .cd-main-content -->

    <div class="container">
      <div class="row">
      
        <div class="col-xs-12" >
          
   
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title"> Fund name</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="img/default-avatar.png" class="img-circle img-responsive"> </div>
                
                <!--<div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>
                  <dl>
                    <dt>DEPARTMENT:</dt>
                    <dd>Administrator</dd>
                    <dt>HIRE DATE</dt>
                    <dd>11/12/2013</dd>
                    <dt>DATE OF BIRTH</dt>
                       <dd>11/12/2013</dd>
                    <dt>GENDER</dt>
                    <dd>Male</dd>
                  </dl>
                </div>-->
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                       <br><br> 
                      <tr>
                        <td>Fund ID</td>
                        <td>fund id</td>
                      </tr>
                      <tr>
                        <td>Cost</td>
                        <td>cost</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
                 <div class="panel-footer">
                        <a href="editfund.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-edit"></i></a>
                    </div>
            
          </div>
        </div>
      </div>
    </div>
{% endblock body %}

{% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/homepage.js' %}"></script>
    <script class="cssdeck" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script class="cssdeck" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="{% static 'js/jquery-2.1.4.js' %}"></script>
    <script src="{% static 'js/jquery.menu-aim.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script> <!-- Resource jQuery -->
    <script src="{% static 'js/viewallstudents.js' %}"></script> <!-- Resource jQuery -->
    <script class="cssdeck" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script type="text/javascript">
                $(document).ready(function() {
                $(".dropdown-toggle").dropdown();
            });
    </script>
{% endblock js %}

