{% load staticfiles %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% block css %}
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
    <link rel="stylesheet" href="{% static 'css/widget.css' %}">
{% endblock css %}

    {% block title %}<title>Admin Home</title>{% endblock title %}

   <nav class="navbar navbar-trans navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand text-danger" href="{% url 'accounts:Admin' %}">LNNCHS</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-collapsible">
            <ul class="nav navbar-nav navbar-left">
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Student <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'accounts:AddStudent' %}">Add Student</a></li>
                    <li><a href="{% url 'accounts:ViewAllStudents' %}">View / Edit Student</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Funds <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'funds:AddFunds' %}">Add Fund</a></li>
                    <li><a href="{% url 'funds:ViewAllFunds' %}">View / Edit Fund</a></li>
                    <li><a href="{% url 'funds:AddPayment' %">Add Payment</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Project <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'funds:AddProject' %}">Add Project</a></li>
                    <li><a href="{% url 'funds:ViewAllProjects' %}">View / Edit Project</a></li>
                  </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ request.user.admin.user }} <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'auth:logout' %}?next={% url 'accounts:Index' %}">Logout</a></li>
                  </ul>
                </li>
            </ul>
        </div>
    </div>
  </nav>
<br>
<br>
<br>
<br>

{% block body %}{% endblock body %}
  <div id="myModal1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="text-center"><br>Change Password</h2>
            </div>
            <div class="modal-body row">
                <form class="col-md-10 col-md-offset-1 col-xs-12 col-xs-offset-0" method="post" id="passwordForm">
                    <div class="form-group">
                          <input type="password" class="input-lg form-control" name="password1" id="password1" placeholder="New Password" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <input type="password" class="input-lg form-control" name="password2" id="password2" placeholder="Repeat Password" autocomplete="off">

                    </div>
                    <div class="form-group">
                        <button class="btn btn-danger btn-lg btn-block" id="submit">Submit</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

{% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/homepage.js' %}"></script>
    <script src="{% static 'js/passwordValidator.js' %}"></script>
    <script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
{% endblock js %}