{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
{% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="homepage.css">
    <link rel="stylesheet" href="homepage-admin.css">
<title> LNNCHS Payment Monitoring System Admin | Homepage</title>
</head>
<body>

<p>Welcome {{ user.username }} :)</p>
<a href="/accounts/logout">Logout</a>

<div class="container">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Full Screen Search</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{% url 'accounts:addstudent' %}">Add student</a></li>
                    <li class="active"><a href="{% url 'accounts:searchstudent' %}">Search Student</a></li>

                    <li class="active"><a href="{% url 'accounts:viewallstudents' %}">View All Students</a></li>

                    <li><a href="{% url 'accounts:studentswithliabilities' %}">View Students with liabilities</a></li>

                    <li><a href="{% url 'accounts:createpayment' %}">Create Payment</a></li>

                    <li><a href="{% url 'accounts:enterdiscount' %}">Add discount</a></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Funds <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="active"><a href="{% url 'funds:addfunds' %}">Add Funds</a></li>
                            <li class="active"><a href="{% url 'funds:searchfunds' %}">Search Funds</a></li>
                            <li class="active"><a href="{% url 'funds:viewallfunds' %}">View All Funds</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'funds:viewmoneyonhand' %}">View Total Money on Hand</a></li>

                            <li><a href="{% url 'funds:addproject' %}">Add a new Project</a></li>
                            <li><a href="{% url 'funds:searchproject' %}">Search Project</a></li>
                            <li><a href="{% url 'funds:viewallprojects' %}">View All Projects</a></li>

                            <li><a href="{% url 'accounts:changeschoolyear' %}">Change School Year</a></li>
                            
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#search">Search</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>


<div id="search">
    <button type="button" class="close">×</button>
    <form>
        <input type="search" value="" placeholder="type keyword(s) here" />
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>
<section class="container-fluid" id="section1">
    <div class="v-center">
        <h1 class="text-center">LNNCHS Payment Monitoring System.</h1>
        <h2 class="text-center lato animate slideInDown"><b>More efficient</b> than ever</h2>
        <p class="text-center">
            <br>
            
        </p>
    </div>
    <a href="#section2">
        <div class="scroll-down bounceInDown animated">
            <span>
                <i class="fa fa-angle-down fa-2x"><img class="down-btn" src="down.png"></img></i>
            </span>
        </div>
        </a>
</section>

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-3 column">
                <h4>Information</h4>
                <ul class="nav">
                    <li><a href="about-us.html">Products</a></li>
                    <li><a href="about-us.html">Services</a></li>
                    <li><a href="about-us.html">Benefits</a></li>
                    <li><a href="elements.html">Developers</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-md-3 column">
                <h4>Follow Us</h4>
                <ul class="nav">
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Google+</a></li>
                    <li><a href="#">Pinterest</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-md-3 column">
                <h4>Contact Us</h4>
                <ul class="nav">
                    <li><a href="#">Email</a></li>
                    <li><a href="#">Headquarters</a></li>
                    <li><a href="#">Management</a></li>
                    <li><a href="#">Support</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-md-3 column">
                <h4>Customer Service</h4>
                <ul class="nav">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Delivery Information</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms &amp; Conditions</a></li>
                </ul>
            </div>
        </div>
        <!--/row-->
        <p class="text-right">©2015</p>
    </div>
</footer>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="homepage-admin.js"></script>
</body>
</html>