{% load staticfiles %}
<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{% static 'css/reset.css' %}"> <!-- CSS reset -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- Resource style -->
    <link rel="stylesheet" href="{% static 'css/metrobuttons.css' %}">
    <link rel="stylesheet" href="{% static 'css/students.css' %}">
    <link rel="stylesheet" href="{% static 'css/addstudents.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/metro-bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/docs.css' %}">
    <script src="{% static 'js/modernizr.js' %}"></script> <!-- Modernizr -->

    {% block title %}
        <title>Students</title>
    {% endblock title %}
</head>
{% block body %}
<body>
    <header class="cd-main-header">
        <a href="#0" class="cd-logo"><img src="{% static 'img/cd-logo.svg' %}" alt="Logo"></a>
        
        

        <a href="#0" class="cd-nav-trigger">Menu<span></span></a>

        <nav class="cd-nav">
            <ul class="cd-top-nav">
                <li class="has-children account">
                    <a href="#0">
                        <img src="{% static 'img/cd-avatar.png' %}" alt="avatar">
                        Account
                    </a>

                    <ul>

                        <li><a href="#0">My Account</a></li>
                        <li><a href="#0">Edit Account</a></li>
                        <li><a href="#0">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header> <!-- .cd-main-header -->

    <main class="cd-main-content">
        <nav class="cd-side-nav">
            <ul>
                <li class="cd-label">Main</li>
                <li class="has-children overview">
                    <a href="{% url 'accounts:Admin' %}">Homepage</a>
                </li>
                <li class="has-children notifications   active">
                    <a href="{% url 'accounts:Students' %}">Students</a>
                </li>
                <li class="has-children comments">
                    <a href="funds.html">Funds</a>
                </li>
                <li class="has-children comments">
                    <a href="#0"m>Projects</a>
                </li>
            </ul>
        </nav>
    </main> <!-- .cd-main-content -->
    <div class="jumbotron">
 <h1>Student Panel</h1>
  <div class="main-buttons">
    <div class="thumbnail tile tile-wide tile-red">
        <a href="addstudents.html" >
            <h1 class="ADD STUDENTS">
                ADD STUDENTS.</h1>
        </a>
    </div>

    <div class="thumbnail tile tile-wide tile-alizarin">
        <a href="viewallstudents.html" >
            <h1 class="ADD STUDENTS">
                VIEW ALL STUDENTS.</h1>
        </a>
    </div>

    <div class="thumbnail tile tile-wide tile-pomegranate">
        <a href="#" >
            <h1 class="studentsliabilities.html">
                STUDENTS WITH LIABILITIES.</h1>
        </a>
    </div>
</div>
</div>

{% block js %}
<script class="cssdeck" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script src="{% static 'js/jquery-2.1.4.js' %}"></script>
<script src="{% static 'js/jquery.menu-aim.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script> <!-- Resource jQuery -->
<script class="cssdeck" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
{% endblock js %}
</body>
{% endblock body%}
</html>