{% extends 'accounts/base.html' %}

{% load staticfiles %}

{% block css %}
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <script src="{% static 'js/modernizr.js' %}"></script> <!-- Modernizr -->
{% endblock css %}

    {% block title %}<title>View All Students</title>{% endblock title %}

{% block body %}

    <div class="row">
    <h2 class="student-name text-center">VIEW / EDIT STUDENTS</h2>
  </div>
    <main class="cd-main-content">
    </main> <!-- .cd-main-content -->

    <div class="container">
        <div class="col-md-3">
            <br>
            <br>
            <form action="#" method="get">
                <div class="input-group">
                    <!-- USE TWITTER TYPEAHEAD JSON WITH API TO SEARCH -->
                    <input class="form-control" id="system-search" name="q" placeholder="Search for" required>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                    </span>
                </div>
            </form>
        </div>
    <div class="row table">
        
        <div class="col-md-12">
        <table class="table table-list-search">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Year</th>
                            <th>Section</th>
                            <th>Current Paid Amount</th>
                            <th>Receivables</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <form action="{% url 'accounts:ViewAllStudents' %}" method="get">
                            {% for object in object_list %}
                                <tr class="{% cycle '<td>' '' '' %}">
                                    <td>{{ object.user.first_name }} {{ object.user.last_name }}</td>
                                    <td>{{ object.year }}</td>
                                    <td>{{ object.section }}</td>
                                    <td>{{ object.paid }}</td>
                                    <td>{{ object.toPay }}</td>
                                    <td>
                                        <a href="{% url 'accounts:EditStudent' %}"><button class="button primary">Edit</button></a>
                                        <a href="{% url 'accounts:ViewStudent' %}"><button class="button primary">View</button></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </form>
                    </tbody>
                </table>   
                <div class="bs-example">
                  <div>
                    <ul class="pagination pagination-sm">
                      <li><a href="#">&laquo;</a></li>
                      <li><a href="#">A-B</a></li>
                      <li><a href="#">C-D</a></li>
                      <li><a href="#">E-F</a></li>
                      <li><a href="#">F-G</a></li>
                      <li><a href="#">H-I</a></li>
                      <li><a href="#">J-K</a></li>
                      <li><a href="#">L-M</a></li>
                      <li><a href="#">N-O</a></li>
                      <li><a href="#">P-Q</a></li>
                      <li><a href="#">R-S</a></li>
                      <li><a href="#">T-U</a></li>
                      <li><a href="#">V-W</a></li>
                      <li><a href="#">X-Y</a></li>
                      <li><a href="#">Z</a></li>
                      <li><a href="#">&raquo;</a></li>
                    </ul>
                  </div>
              </div>
        </div>
    </div>
</div>
{% endblock body %}

{% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/homepage.js' %}"></script>
    <script class="cssdeck" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>

    <script class="cssdeck" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>

    <script src="{% static 'js/jquery-2.1.4.js' %}"></script>
    <script src="{% static 'js/jquery.menu-aim.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script> <!-- Resource jQuery -->
    <script src="{% static 'js/viewallstudents.js' %}"></script> <!-- Resource jQuery -->
    <script class="cssdeck" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script type="text/javascript">
                $(document).ready(function() {
                $(".dropdown-toggle").dropdown();
            });
    </script>
{% endblock js %}